<h2>Meedoen of meer weten? Neem contact op!</h2>
<form>
    <div>
        <label for="naam">Naam</label>
        <input type="text" name="naam" placeholder="Uw naam" />
    </div>
    <div>
        <label for="email">E-mail</label>
        <input type="text" name="email" placeholder="Uw e-mail" />
    </div>
    <div>
        <label for="vraag">Vraag</label>
        <textarea name="vraag" placeholder="Uw vraag"></textarea>
    </div>
    <div>
        <label></label>
        <button class="btn" style="float: right">Verzenden</button>
    </div>
</form>