<div class="intro">
    <div style="font-style: italic">
        <p>"Open samenwerking is samenwerken op basis van gelijkwaardigheid en zelf-organisatie, open voor iedereen die een bijdrage wil leveren. Iedereen kan naar eigen inzicht initiatieven ontplooien en bijdragen leveren die aansluiten op de gezamenlijke doelen. De (deel)resultaten zijn van waarde en worden open beschikbaar gesteld aan bijdragers en de buitenwereld.</p>
        <p>Op Open Samen presenteren we open samenwerkingen aan publieke digitale innovatie, met het doel deze over het voetlicht te brengen en deelnemers te werven. Heb je interesse in deelname, of wil je je eigen open samenwerking toevoegen aan het overzicht? Neem contact op via het <a href="/aanmelden">aanmeldformulier</a>."</p>
    </div>
    <div class="signature">
        <p>Johan Groenen,<br>partner open samenwerking en #publictech bij <a href="https://www.tiltshift.nl/mensen/johan-groenen">Tiltshift</a>.</p>
        <img style="border-radius: 10%" src="https://www.tiltshift.nl/assets/img/mensen/Johan-Groenen-Partner-Tiltshift.jpg">
    </div>
</div>