<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=320,initial-scale=1,user-scalable=0" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="/style.css" rel="stylesheet">
        {% include social-headers.html %}
    </head>
    <body>
        <header>
            <h2>{{ site.subtitle }}</h2>
            <a href="/">
                <h1><img src="/open-samen.png" alt="{{ site.title }}"></h1>
            </a>
            {% include nav.html %}
        </header>
        <main>
            <div class="flex-wrap">
                {% include intro.html %}
                <div class="content">
                    {{ content }}

                    {% if page.show-contact-form or layout.show-contact-form %}
                    {% include contact-form.html %}
                    {% endif %}
                </div>
            </div>
        </main>
        <footer>
            <div class="wrapper">
                <!-- LOGO'S everybit | Tiltshift | Code for NL | Foundation for Public Code -->
                &copy; 2023 <a href="https://www.everybit.nl">everybit</a> #publictech conceptontwikkeling
            </div>
        </footer>
        {% include splash.html %}
    </body>
</html>
