<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=320,initial-scale=1,user-scalable=0" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="/style.css" rel="stylesheet">
        {% include social-headers.html %}
    </head>
    <body>
        <header>
            <h2>{{ site.subtitle }}</h2>
            <h1><img src="/open-samen.png" alt="{{ site.title }}"></h1>
            {% if page.show-intro %}
                {% include intro.html %}
            {% endif %}
            {% include nav.html %}
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <div class="wrapper">
                <!-- LOGO'S everybit | Tiltshift | Code for NL | Foundation for Public Code -->
                &copy; 2023 <a href="https://www.everybit.nl">everybit</a> #publictech conceptontwikkeling
            </div>
        </footer>
    </body>
</html>
